button.accordion {
    background-color: inh;
    
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    line-height: inherit;
    transition: 0.4s ease-in-out;
}

button.accordion.active, button.accordion:hover {
    background-color: none;
}

div.panel {
    padding: 0 18px;
    background-color: none;
    max-height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    opacity: 0;
    border: none;
}

div.panel.show {
    opacity: 1;
    max-height: 5500px;  
}