/* imghvr-strip-shutter-*
   ----------------------------- */
[class^='imghvr-strip-shutter'], [class*=' imghvr-strip-shutter'] { 
	&:before, &:after, figcaption:before, figcaption:after {
		background-color: $figcaption-bg;
		opacity: 0;
		position: absolute;
		content: '';
	}
	&:before, &:after {
		z-index: 1;
	}
	figcaption {
		z-index: 3;
		background-color: transparent;
		* {
			opacity: 0;
		}
		&:before, &:after {
			z-index: -1;
		}
	}
	a {
		z-index: 3;
	}
	&:hover {
		&:before, &:after, figcaption:before, figcaption:after {
			@include transform(scale(1));
			opacity: 1;
		}
		figcaption {
			* {
				opacity: 1;
				@include transition-delay($transition-duration);
			}
		}
	}
}

 /* imghvr-strip-shutter-up
   ----------------------------- */
.imghvr-strip-shutter-up {
	&:before, &:after, figcaption:before, figcaption:after {
		height: 26%;
		width: 100%;
		@include transform(scaleX(0));
		left:0;
	}
	&:before {
		top: 0;
		@include transition-delay(0.0s);
	}
	&:after {
		top: 25%;
		@include transition-delay($transition-duration * 0.3);
	}
	figcaption {
		&:before {
			top: 50%;
			@include transition-delay($transition-duration * 0.6);
		}
		&:after {
			top:75%;
			@include transition-delay($transition-duration);
		}
	}
}
 /* imghvr-strip-shutter-down
   ----------------------------- */
.imghvr-strip-shutter-down {
	&:before, &:after, figcaption:before, figcaption:after {
		height: 26%;
		width: 100%;
		@include transform(scaleX(0));
		left:0;
	}
	&:before {
		top: 0;
		@include transition-delay($transition-duration);
	}
	&:after {
		top: 25%;
		@include transition-delay($transition-duration * 0.6);
	}
	figcaption {
		&:before {
			top: 50%;
			@include transition-delay($transition-duration * 0.3);
		}
		&:after {
			top:75%;
			@include transition-delay(0.0s);
		}
	}
}
 /* imghvr-strip-shutter-left
   ----------------------------- */
.imghvr-strip-shutter-left {
	&:before, &:after, figcaption:before, figcaption:after {
		width: 26%;
		height: 100%;
		@include transform(scaleY(0));
		top:0;
	}
	&:before {
		left: 0;
		@include transition-delay($transition-duration);
	}
	&:after {
		left: 25%;
		@include transition-delay($transition-duration * 0.6);
	}
	figcaption {
		&:before {
			left: 50%;
			@include transition-delay($transition-duration * 0.3);
		}
		&:after {
			left:75%;
			@include transition-delay(0.0s);
		}
	}
}
 /* imghvr-strip-shutter-right
   ----------------------------- */
.imghvr-strip-shutter-right {
	&:before, &:after, figcaption:before, figcaption:after {
		width: 26%;
		height: 100%;
		@include transform(scaleY(0));
		top:0;
	}
	&:before {
		left: 0;
		@include transition-delay(0.0s);
	}
	&:after {
		left: 25%;
		@include transition-delay($transition-duration * 0.3);
	}
	figcaption {
		&:before {
			left: 50%;
			@include transition-delay($transition-duration * 0.6);
		}
		&:after {
			left:75%;
			@include transition-delay($transition-duration);
		}
	}
}